name: Build Mod
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        java: [21]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload ColorMixing-Fabric-Project
        uses: actions/upload-artifact@v4
        with:
          name: ColorMixing-Fabric-
          path: build/libs/*-${version}.jar

    
        
